    {{!-- Materilize Css --}}


     <div class="navbar-fixed ">

  <nav class="nav-extended grey darken-4 z-depth-4">

    <div class="nav-wrapper">

      <a href="/" id="nameTag" class="brand-logo center">Tim Westberg</a>

      <a href="#sideNavBar" data-target="sideNavBar" class="sidenav-trigger tooltipped" data-position="right" data-tooltip="Show contact information"><i class="material-icons">
contacts
</i></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
    <svg viewBox="0 0 1800 350">
  <symbol id="s-text">
    <text text-anchor="middle"
          x="50%"
          y="25%"
          class="text--line fancyElastic1"
          >
      Full-Stack
    </text>
    <text text-anchor="middle"
          x="50%"
          y="90%"
          class="text--line2 fancyElastic2"
          >
      Web Developer
    </text>
    
  </symbol>
  
  <g class="g-ants">
    <use xlink:href="#s-text"
      class="text-copy"></use>     
    <use xlink:href="#s-text"
      class="text-copy"></use>     
    <use xlink:href="#s-text"
      class="text-copy"></use>     
    <use xlink:href="#s-text"
      class="text-copy"></use>     
    <use xlink:href="#s-text"
      class="text-copy"></use>     
  </g>
  
  
</svg>


      
      </ul>
  


    </div>

    <div class="nav-content">

      <ul class="tabs tabs-transparent">


         <li class="tab projectTab center"><a href="#sideNavBar-right" data-target="sideNavBar-right" class="sidenav-trigger projectTab">Showcase</a></li>

        <li class="tab contactTab center hide-on-med-and-down "><a href="#sideNavBar" data-target="sideNavBar" class="sidenav-trigger contactTab ">Contact</a></li>

      </ul>

    </div>
    
  </nav>

  </div>

  <ul class="sidenav blue-grey darken-4" id="sideNavBar">

<li><div class="user-view">
      <div class="background">
        <img class="responsive-img" src="assets/img/city.jpeg">
      </div>
      <a href="https://timwestberg.herokuapp.com/"><img id="timProfilePhoto" class="circle responsive-img " src="assets/img/TimHeadShot.jpg"></a>
      <a href="#name"><h1 class=" name center  amber-text lighten-5">Tim Westberg</h1></a>
     {{!-- <h2 class="email  amber-text lighten-5" data-clipboard-text="Timwestberg@formulagen.com">Timwestberg@Formulagen.com</h2></a> --}}
    </div></li>
    <svg viewBox="0 0 2300 350" class="sidenav-text-animation">
  <symbol id="s-text">
    <text text-anchor="middle"
          x="50%"
          y="25%"
          class="text--line fancyElastic1"
          >
      Full-Stack
    </text>
    <text text-anchor="middle"
          x="50%"
          y="90%"
          class="text--line2 fancyElastic2"
          >
      Web Developer
    </text>
    
  </symbol>
  
  <g class="g-ants">
    <use xlink:href="#s-text"
      class="text-copy2"></use>     
    <use xlink:href="#s-text"
      class="text-copy2"></use>     
    <use xlink:href="#s-text"
      class="text-copy2"></use>     
    <use xlink:href="#s-text"
      class="text-copy2"></use>     
    <use xlink:href="#s-text"
      class="text-copy2"></use>     
  </g>
  
  
</svg>
   <li><div class="divider"></div></li>
    <h3 class="subheader center amber-text lighten-5">Contact</h3>
    <li><div class="divider"></div></li>

                                 <button class="copyBtn emailButton z-depth-2 waves-effect waves-circle tooltipped pulse" data-position="right" data-tooltip="<i class='material-icons'>content_copy</i>" data-clipboard-text="Timwestberg@formulagen.com" onclick="M.toast({html: 'Email Copied!'})">
                                <i class="fas fa-envelope contactIcon"></i>
                                </button>
                          
        

                                
                                <button class="copyBtn phoneButton z-depth-2 waves-effect waves-circle tooltipped pulse" data-position="right" data-tooltip="<i class='material-icons'>content_copy</i>" data-clipboard-text="(951) 852-2584" onclick="M.toast({html: 'Phone Number Copied!'})">
                                <i class="fas fa-mobile contactIcon"></i>
                                </button>

                                <br>

    <a href="assets/documents/TWestberg_Resume.pdf"><button class="resumeButton z-depth-2 pulsate-fwd"><i class="far fa-file-pdf"></i> Resume</button></a>

    <a href="https://github.com/Timwestberg"><button class="gitHubButton z-depth-2 pulsate-fwd"><i class="fab fa-github"></i> GitHub</button></a>
    

    <a href="https://www.linkedin.com/in/tim-westberg-516022162/" ><button class="linkedInButton z-depth-2 pulsate-fwd"><i class="fab fa-linkedin"></i> linkedin</button></a>

  </ul>







  <ul class="sidenav-right right-aligned blue-grey darken-4" id="sideNavBar-right">

<li><div class="user-view">
      <div class="background">
        <img class="responsive-img" src="assets/img/city.jpeg">
      </div>
      <a href="#TimWestberg"><img id="timProfilePhoto" class="circle responsive-img " src="assets/img/TimHeadShot.jpg"></a>
      <a href="#name"><h1 class=" name center  amber-text lighten-5">Tim Westberg</h1></a>

    </div></li>

   <li><div class="divider"></div></li>
    <h3 id="pinned" class="subheader center amber-text  lighten-5">Showcase</h3>
    <li><div class="divider"></div></li>

 <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/schedulize.jpeg">
          <span class="card-title white-text"><h4></h4></span>
          <a href="https://scheduliz.herokuapp.com/addUser" data-position="left" data-tooltip="Scheduling Solutions" class="btn-floating halfway-fab waves-effect waves-light blue lighten-3 tooltipped"><i class="fas fa-calendar-check"></i></a>
        </div>
        <div class="card-content">

      <span class="card-title activator grey-text text-darken-4">Schedulize Keep track of contractors. Implementing Google maps schedulize plots your appointments onto a map than displays the clostest relative contractor. <i data-position="left" data-tooltip="Built With..." class="fas fa-toolbox  tooltipped"></i></span>

    </div>
    
    <div class="card-reveal">

      <span class="card-title grey-text text-darken-4">Built Using<i  class="material-icons right">close</i></span>

  <ul>
    <li>REACT</li>
    <li>Material UI</li>
    <li>Mongo DB</li>
    <li>Express</li>
    <li>Node.js</li>
    <li>Passport JS</li>
    <li>Google Maps API</li>
    <li>Javascript</li>
    <li>JSX</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Visual Studio Code: Editor</li>
        <li><h5>Code: </h5></li>
    <li><p><a class="pulsate-fwd" href="https://github.com/Timwestberg/Schedulize"><i class="fab fa-github-square"></i></a></p></li>
  </ul>

    </div>
      </div>
    </div>
  </div>


           <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/Gig-it_cover.jpeg">

          <a data-position="left" data-tooltip="Check out local talent" href="https://ptamayo97.github.io/Gig-It-project/" class="btn-floating halfway-fab waves-effect waves-light blue lighten-3 tooltipped"><i class="fas fa-drum"></i></a>
        </div>
        <div class="card-content">

      <span class="card-title activator grey-text text-darken-4">Gig it!  Local bands can post their upcoming Gigs, fans have an oppurtunity to see where and when local, popular or new unheard of power houses are playing. <i data-position="left" data-tooltip="Built With..."class="fas fa-toolbox  tooltipped"></i></span>

    </div>
    
    <div class="card-reveal">

      <span class="card-title grey-text text-darken-4">Built Using<i class="material-icons right">close</i></span>

  <ul>
    <li>BootStrap</li>
    <li>Javascript</li>
    <li>Express</li>
    <li>Node.js</li>
    <li>My SQL</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Visual Studio Code: Editor</li>
    <li><h5>Code: </h5></li>
    <li><p><a href="https://github.com/ptamayo97/Gig-It-project"><i class="fab fa-github-square"></i></a></p></li>
  </ul>

    </div>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/happyCamper.jpeg">
          <span class="card-title"><h4></h4></span>
          <a data-position="left" data-tooltip="Discover Locations" href="https://pure-wave-97099.herokuapp.com/" class="btn-floating halfway-fab waves-effect waves-light blue lighten-3 tooltipped"><i class="fas fa-campground"></i></a>
        </div>
        <div class="card-content">

      <span class="card-title activator grey-text text-darken-4">Happy Camper allow user to search state parks and write reviews about their visits and expierences. <i data-position="left" data-tooltip="Built With..." class="fas fa-toolbox  tooltipped"></i></span>

    </div>
    
    <div class="card-reveal">

      <span class="card-title grey-text text-darken-4">Built Using</span>

  <ul>
    <li>MySql Database</li>
    <li>Handlebars</li>
    <li>Express</li>
    <li>Node.js</li>
    <li>JQuery</li>
    <li>Javascript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Visual Studio Code: Editor</li>
        <li><h5>Code: </h5></li>
    <li><p><a href="https://github.com/Timwestberg/HappyCamper"><i class="fab fa-github-square"></i></a></p></li>
  </ul>

    </div>
      </div>
    </div>
  </div>



   <li><div class="divider"></div></li>
    <h3 id="react" class="subheader center amber-text lighten-5">React</h3>
    <li><div class="divider"></div></li>


  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/piratecapture.jpeg">
          <span class="card-title project-title"><h4></h4></span>
          <a  data-position="left" data-tooltip="Play Pirate Capture" href="https://timwestberg.github.io/PirateCapture/" class="btn-floating halfway-fab waves-effect waves-light blue lighten-3 tooltipped"><i class="fas fa-ship"></i></a>
        </div>
        <div class="card-content">

      <span class="card-title activator grey-text text-darken-4">Pirate Capture! Attempt to capture all of the Straw Hat Pirates, a One Piece inspired memory game!<i data-position="left" data-tooltip="Built With..." class="fas fa-toolbox  tooltipped"></i></span>

    </div>
    
    <div class="card-reveal">

      <span class="card-title grey-text text-darken-4">Built Using<i class="material-icons right">close</i></span>

  <ul>
    <li>REACT</li>
    <li>Material UI</li>
    <li>Express</li>
    <li>Node.js</li>
    <li>Javascript</li>
    <li>JSX</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Visual Studio Code: Editor</li>
        <li><h5>Code: </h5></li>
    <li><p><a href="https://github.com/Timwestberg/PirateCapture"><i class="fab fa-github-square"></i></a></p></li>
  </ul>

    </div>


      </div>
    </div>
  </div>






  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/books.jpeg">
          <span class="card-title project-title"><h4>Formula Books</h4></span>
          <a data-position="left" data-tooltip="Look for Books" class="btn-floating halfway-fab waves-effect waves-light blue lighten-3 tooltipped"><i class="fas fa-bookmark"></i></a>
        </div>
        <div class="card-content">

      <span class="card-title activator grey-text text-darken-4">User interface for searching Goolge Books and saving them to view later. <i data-position="left" data-tooltip="Built With..." class="fas fa-toolbox  tooltipped"></i></span>

    </div>
    
    <div class="card-reveal">

      <span class="card-title grey-text text-darken-4">Built Using<i class="material-icons right">close</i></span>

  <ul>
    <li>REACT</li>
    <li>Material UI</li>
    <li>Mongo Database</li>
    <li>Express</li>
    <li>Node.js</li>
    <li>Javascript</li>
    <li>JSX</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Visual Studio Code: Editor</li>
        <li><h5>Code: </h5></li>
    <li><p><a href="https://github.com/Timwestberg/BookSearchApplication"><i class="fab fa-github-square"></i></a></p></li>
  </ul>

    </div>
      </div>
    </div>
  </div>


   <li><div class="divider"></div></li>
    <h3 id="games" class="subheader center amber-text lighten-5">Other</h3>
    <li><div class="divider"></div></li>

    <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/burgerbros.jpeg">
          <span class="card-title project-title"><h4></h4></span>
          <a data-position="left" data-tooltip="Create Burger" href="https://thawing-journey-27450.herokuapp.com/" class="btn-floating halfway-fab waves-effect waves-light blue lighten-3 tooltipped"><i class="material-icons">
fastfood
</i></a>
        </div>
        <div class="card-content">

      <span class="card-title activator grey-text text-darken-4">Burger-me Bro allows users to save their favorite burger creations, Never forget a great burger! <i data-position="left" data-tooltip="Built With..." class="fas fa-toolbox  tooltipped"></i></span>

    </div>
    
    <div class="card-reveal">

      <span class="card-title grey-text text-darken-4">Built Using<i class="material-icons right">close</i></span>

  <ul>
    <li>MySQL Database</li>
    <li>Materilize CSS</li>
    <li>Node.js</li>
    <li>handlebars</li>
    <li>ORM</li>
    <li>Javascript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Visual Studio Code: Editor</li>
        <li><h5>Code: </h5></li>
    <li><p><a href="https://github.com/Timwestberg/Burger-me-Bro"><i class="fab fa-github-square"></i></a></p></li>
  </ul>

    </div>
      </div>
    </div>
  </div>  


  {{!-- <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/codepals.jpeg">
          <span class="card-title">Code Pal</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
  <p>Built with....</p>
        </div>
      </div>
    </div>
  </div>        --}}


    <div class="row">

    <div class="col s12 m12">

      <div class="card">

        <div class="card-image">

          <img src="assets/img/triviaGame.jpeg">
  
          <a data-position="left" data-tooltip="Play game of Trivia" href="https://timwestberg.github.io/TriviaGame/" class="btn-floating halfway-fab waves-effect waves-light blue lighten-3 tooltipped"><i class="fas fa-trophy"></i></a>

        </div>

        <div class="card-content">

      <span class="card-title activator grey-text text-darken-4">Fast Food trivia game, put your knowledge to the test! <i data-position="left" data-tooltip="Built With..." class="fas fa-toolbox  tooltipped"></i></span>

    </div>
    
    <div class="card-reveal">

      <span class="card-title grey-text text-darken-4">Built Using<i class="material-icons right">close</i></span>

  <ul>
    <li>Javascript Timers</li>
    <li>Javascript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Visual Studio Code: Editor</li>
        <li><h5>Code: </h5></li>
    <li><p><a href="https://github.com/Timwestberg/TriviaGame"><i class="fab fa-github-square"></i></a></p></li>
  </ul>

    </div>

      </div>

    </div>

  </div>  

      
{{!-- 
     <li><div class="divider"></div></li>
    <h3 id="backend" class="subheader center amber-text lighten-5">Backend</h3>
    <li><div class="divider"></div></li> --}}



  </ul>

  {{!-- <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> --}}



