    {{!-- Materilize Css --}}


     <div class="navbar-fixed">

  <nav class="nav-extended">

    <div class="nav-wrapper">

      <a href="/" class="brand-logo center flow-text"><i class="fas fa-code"></i> Tim Westberg</a>

      <a href="#sideNavBar" data-target="sideNavBar" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">

    <li><a href="assets/documents/TWestberg_Resume.pdf"><button class="resumeButton"><i class="far fa-file-pdf"></i> 

    Resume</button></a></li>

    <li><a href="https://github.com/Timwestberg"><button class="gitHubButton"><i class="fab fa-github"></i> GitHub</button></a></li>

    <li><a href="https://www.linkedin.com/in/tim-westberg-516022162/" ><button class="linkedInButton"><i class="fab fa-linkedin"></i> linkedin</button></a></li>

      </ul>

    </div>

    <div class="nav-content">

      <ul class="tabs tabs-transparent">

        <li class="tab projectsTab"><a href="#Projects">Projects</a></li>

        <li class="tab contactTab"><a href="#Contact">Contact</a></li>

      </ul>

    </div>
    
  </nav>

  </div>

  <ul class="sidenav" id="sideNavBar">

    <li><a href="assets/documents/TWestberg_Resume.pdf"><button class="resumeButton"><i class="far fa-file-pdf"></i> Resume</button></a></li>

    <li><a href="https://github.com/Timwestberg"><button class="gitHubButton"><i class="fab fa-github"></i> GitHub</button></a></li>

    <li><a href="https://www.linkedin.com/in/tim-westberg-516022162/" ><button class="linkedInButton"><i class="fab fa-linkedin"></i> linkedin</button></a></li>

  </ul>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Contact</a></li>
    <li><a href="assets/documents/TWestberg_Resume.pdf"><button class="resumeButton"><i class="far fa-file-pdf"></i> Resume</button></a></li>

    <li><a href="https://github.com/Timwestberg"><button class="gitHubButton"><i class="fab fa-github"></i> GitHub</button></a></li>

    <li><a href="https://www.linkedin.com/in/tim-westberg-516022162/" ><button class="linkedInButton"><i class="fab fa-linkedin"></i> linkedin</button></a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>



