<div class="container">

   

    <div class="row">
        <div class="col s12">
    <div class="carousel">
    <a class="carousel-item" href="#headShot"><img  src="/assets/img/TimHeadShot.jpg" alt="Photo of Timothy Westberg in California Adventure, next to Walt Disney statue."
                class="responsive-img images z-depth-5"></a>
    <a class="carousel-item" href="#Tim!"><img src="/assets/img/timmy.jpg" alt="Stand alone shot of Timothy Westberg" class="images responsive-img z-depth-5"></a>
    <a class="carousel-item" href="#Tim&Dulce"><img src="/assets/img/Tim-Dulce-Disney1.jpg" alt="Timothy Westberg and Dulce W. Enjoying Disneyland" class="responsive-img images z-depth-5"></a>
    <a class="carousel-item" href="#Tim&Dulce"><img src="/assets/img/Timpic1.1.jpg" alt="Photo of Timothy Westberg in California Adventure, next to Walt Disney statue."
                class="responsive-img images z-depth-5"></a>
    <a class="carousel-item" href="#HolidayPhoto!"><img id="HolidayPhoto" src="/assets/img/holidayPhoto.jpg" alt="Photo of Timothy Westberg in California Adventure, next to Walt Disney statue."
                class="responsive-img images z-depth-5"></a>
  </div>
    </div>
    </div>



<div class="row">

    <div class="col s12">

         <ul class="collapsible z-depth-4">

    <li>

      <div class="collapsible-header blue lighten-5">
          
          <i class="material-icons">how_to_reg</i>About Me</div>

      <div class="collapsible-body deep-purple lighten-5">      

          <p class="flow-text">
                                My name is Tim Westberg, I am  full-stack developer using MERN(Mongo,Express,React,Node.js) stack. My language focus is Javascript, and I prefer building projects using the Materlize design method, this includes intergrating my projects with Materlize CSS/UI. The goal is to provide dynamic web solutions that guide users  with an  event driven enviroment to quickly and effectively provide the  information they need most. During my freetime outside of Javascript I enjoy learning game development, using C# and Unity to build 2D and 3D games. Im interested in learning Machine Learning,Python and R, in addtion to futhering my skills in Javascipt.
            
            </p>
        
      </div>

    </li>


    <li>

      <div class="collapsible-header blue lighten-5"><i class="material-icons">code</i>Code Experience</div>

      <div class="collapsible-body deep-purple lighten-5">                            
          
          <p class="flow-text">
                                Outside of my coding life I am a student, friend, wake boarder, scuba diving
                                enthusiast, gamer ,
                                and hopeful travler. Coding is a passion that has really made me excited about the
                                learning process,
                                coding everyday has become an exciting process i look forward to. I hope to gain
                                employment pursing my hobbies.
            </p>
            
        </div>

    </li>


  </ul>


    </div>

</div>

</div>