<div class="container">

<div class="row">

        <div class="col s12">

    <div class="carousel">

    <a class="carousel-item" href="#headShot"><img  src="/assets/img/TimHeadShot.jpg" alt="Photo of Timothy Westberg in California Adventure, next to Walt Disney statue."
                class="responsive-img images z-depth-5"></a>

    <a class="carousel-item" href="#Tim!"><img src="/assets/img/timmy.jpg" alt="Stand alone shot of Timothy Westberg" class="images responsive-img z-depth-5"></a>

    <a class="carousel-item" href="#Tim&Dulce"><img src="/assets/img/Tim-Dulce-Disney1.jpg" alt="Timothy Westberg and Dulce W. Enjoying Disneyland" class="responsive-img images z-depth-5"></a>

    <a class="carousel-item" href="#Tim&Dulce"><img src="/assets/img/Timpic1.1.jpg" alt="Photo of Timothy Westberg in California Adventure, next to Walt Disney statue."
                class="responsive-img images z-depth-5"></a>

    <a class="carousel-item" href="#HolidayPhoto!"><img id="HolidayPhoto" src="/assets/img/holidayPhoto.jpg" alt="Photo of Timothy Westberg in California Adventure, next to Walt Disney statue."
                class="responsive-img images z-depth-5"></a>

  </div>

    </div>

</div>



<div class="row">


  <ul class="collapsible z-depth-4">

    <li>

      <div class="collapsible-header blue lighten-5">
          
          <i class="material-icons">how_to_reg</i>About Me

      </div>

      <div class="collapsible-body deep-purple lighten-5">      

          <p class="flow-text">
                         I am a user-focused Web Developer with a passion for integrating technologies to solve problems and improve existing methods. My background in sales, finance, and office management provides me with a unique perspective on how end-users interact with websites and software platforms. I enjoy approaching programming challenges from different angles and collaborating with others to create meaningful web applications that effectively elevate the user and client experience. My ultimate goal is to provide a robust solutions that seems simple an intuitive to the client.
            
            </p>
        
      </div>

    </li>


    <li>

      <div class="collapsible-header blue lighten-5"><i class="material-icons">code</i>Code Experience</div>

      <div class="collapsible-body deep-purple lighten-5">                            
          


<div class="row">

    <div class="col s6 m4">

    
      {{!-- <div class="card-container"> --}}

  <div class="card small blue-grey darken-1">

    <div class="card-image waves-effect waves-block waves-light ">

      <img class="activator" src="/assets/img/wireFrame.png">

    </div>

    <div class="card-content ">

      <span class="card-title activator white-text">Wire Framing<i class="material-icons right">more_vert</i></span>


    </div>

    <div class="card-reveal">

      <span class="card-title grey-text text-darken-1">Experience<i class="material-icons right">close</i></span>

      <p> A wireframe is a low-fidelity visual representation defining the basic architecture of your website.I found wireframing allowed me to move through the basic design more quickly allowing me to focus on the functionality early on to recognize and remedy any issues.

        <br>

        <a href="https://mlsdev.com/blog/28-5-obvious-advantages-of-wireframing" class="waves-effect waves-light btn"><i class="material-icons right">book</i>Great Read</a>

      </p>



    </div>

  </div>
      {{!-- </div> --}}
    </div>


    <div class="col s6 m4">
      {{!-- <div class="card-container"> --}}
  <div class="card small blue-grey darken-1">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/assets/img/basics.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator white-text flow-text">HTML/ CSS/ Javascript<i class="material-icons right">more_vert</i></span>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-1">Expierece<i class="material-icons right">close</i></span>
      <p>HTML is supported by all the browsers and is an easy to understand language that shares similarities to XML. In basic static sites that do not contain robust functionality , HTML and CSS can be a  quick and  lightweight solution for the client. I prefer to use the Materialize framework following the material design method, this allows users to have an interactive enviroment that is both dynamic and asthectically pleasing.</p>
        <br>
        <a href="https://materializecss.com/about.html" class="waves-effect waves-light btn"><i class="material-icons left">book</i>Great Read!</a>
    </div>
  </div>
      {{!-- </div> --}}
    </div>


    <div class="col s6 m4">
      {{!-- <div class="card-container"> --}}
  <div class="card small blue-grey darken-1">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/assets/img/node.jpg">
    </div>
    <div class="card-content white-text">
      <span class="card-title activator white-text">Node.js<i class="material-icons right">more_vert</i></span>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-1">Experience<i class="material-icons right">close</i></span>
      <p> I use node.js within all my projects, Node keeps each project ligthweight and dependable, some  advantages of using Node.js are it is easy to install and executable locally, it  also allows written code to be compatible on multiple-platforms. Node is a high performance module compatible with open source packages and additional modules to make hosting cheap and make the  a minimum viable product (MVP) process quicker. A final note is that Node provides an enviroment that has a tight coupling between client and server, which gives fullstack development an easier work flow.
</p>
        <br> 
        <a href="https://medium.com/the-node-js-collection/why-the-hell-would-you-use-node-js-4b053b94ab8e" class="waves-effect waves-light btn"><i class="material-icons left">book</i>Great Read!</a>
    </div>
  </div>
      {{!-- </div> --}}
    </div>


    <div class="col s6 m4">

      {{!-- <div class="card-container"> --}}

  <div class="card small blue-grey darken-1">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/assets/img/materialD.png">
    </div>
    <div class="card-content white-text">
      <span class="card-title activator white-text">Material Design<i class="material-icons right">more_vert</i></span>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-1">Experience<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
        <br>
      <a href="" class="waves-effect waves-light btn"><i class="material-icons left">book</i>Great Read!</a>
    </div>
  </div>
      {{!-- </div> --}}
    </div>


    <div class="col s6 m4 ">



  <div class="card small blue-grey darken-1">

    <div class="card-image waves-effect waves-block waves-light">

      <img class="activator" src="/assets/img/database.jpeg">

    </div>

    <div class="card-content white-text">

      <span class="card-title activator white-text">Databases<i class="material-icons right">more_vert</i></span>


    </div>

    <div class="card-reveal">

      <span class="card-title grey-text text-darken-1">Experience<i class="material-icons right">close</i></span>

      <p></p>

        <br>

       <a href="" class="waves-effect waves-light btn"><i class="material-icons left">book</i>Great Read!</a>

    </div>

  </div>

   
      
    </div>


    <div class="col s6 m4">
      {{!-- <div class="card-container"> --}}
  <div class="card small blue-grey darken-1">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/assets/img/react.jpg">
    </div>
    <div class="card-content white-text">
      <span class="card-title activator white-text">React<i class="material-icons right">more_vert</i></span>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-1">Experience<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
        <br>
        <a href="" class="waves-effect waves-light btn"><i class="material-icons left">book</i>Great Read!</a>
    </div>
  </div>
      {{!-- </div> --}}
    </div>


</div>

      </div>

      </li>

  </ul>

</div>


</div>

