    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="projectIcon">
                        <a href="https://ptamayo97.github.io/Gig-It/">
                        <img class="img-fluid" src="/assets/img/Gig-it_cover.jpeg">
                        <img class="img-fluid" src="/assets/img/Gig-it_cover.jpeg">
                        <img class="img-fluid" src="/assets/img/Gig-it_cover.jpeg">
                        <img class="img-fluid" src="/assets/img/Gig-it_cover.jpeg">
                   
                </div>

               
                        
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <button class="GigButton"><i class="fas fa-music"></i> Gig-It</button>
                        </a>


            </div>

            <div class="col-4">

                    <div class="projectIcon">

                        <a href="https://timwestberg.github.io/Train-Schedule/">
                        <img src="/assets/img/Train-Sch.jpg">
                        <img src="/assets/img/Train-Sch.jpg">
                        <img src="/assets/img/Train-Sch.jpg">
                        <img src="/assets/img/Train-Sch.jpg">
                       
                    </div>
    
                  
                            
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <button class="trainButton"><i class="fas fa-subway"></i> Train Scheduler</button>
                            </a>


                        </div>

                        <div class="col-4">

                                <div class="projectIcon">
            
                                    <a href="https://timwestberg.github.io/TriviaGame/">
                                    <img src="/assets/img/triviaGame.jpeg">
                                    <img src="/assets/img/triviaGame.jpeg">
                                    <img src="/assets/img/triviaGame.jpeg">
                                    <img src="/assets/img/triviaGame.jpeg">
                                   
                                </div>
                
                                        
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <button class="triviaButton"><i class="fas fa-gamepad"></i> Trivia Game!</button>
                                        </a>
            
            
                                    </div>

        </div>


        <div class="row">
           
                        <div class="col-4">

                                <div class="projectIcon">
            
                                    <a href="https://thawing-journey-27450.herokuapp.com/">
                                    <img src="/assets/img/burgerbros.jpeg">
                                    <img src="/assets/img/burgerbros.jpeg">
                                    <img src="/assets/img/burgerbros.jpeg">
                                    <img src="/assets/img/burgerbros.jpeg">
                                   
                                </div>
                
                                        
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <button class="triviaButton"> <i class="fas fa-utensils"></i> Burger-Bros</button>
                                        </a>
            
            
                                    </div>


                                    <div class="col-4">

                                        <div class="projectIcon">
                    
                                            <a href="https://thawing-journey-27450.herokuapp.com/">
                                            <img src="/assets/img/codepals.jpeg">
                                            <img src="/assets/img/codepals.jpeg">
                                            <img src="/assets/img/codepals.jpeg">
                                            <img src="/assets/img/codepals.jpeg">
                                           
                                        </div>
                        
                                                
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <button class="triviaButton"> <i class="fas fa-laptop-code"></i>  CodePals</button>
                                                </a>
                    
                    
                                            </div>


        </div>



    </div>
