body {
    background-image: url("../images/projects.jpg");
    background-color: rgb(242, 244, 242, 0.7);
    width:100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
  }

  /*  Project Button Styles */


  .trainButton {
    font-size: 24px;
    background-color: rgb(236, 255, 193);
    color: #000000;
    border-radius: 55px 55px 55px 55px;
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    -webkit-box-shadow: 4px 11px 45px 0px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 11px 45px 0px rgba(0,0,0,0.63);
box-shadow: 4px 11px 45px 0px rgba(0,0,0,0.63);
    border: 0px solid #000000;
    margin:10px;
    padding: 10px;
  }

  .trainButton:hover {
      cursor: pointer;
      transition: 0.7s;
      -webkit-box-shadow: inset 4px 11px 45px 0px rgba(0,0,0,0.63);
-moz-box-shadow: inset 4px 11px 45px 0px rgba(0,0,0,0.63);
box-shadow: inset 4px 11px 45px 0px rgba(0,0,0,0.63);
  }

  .GigButton {
    font-size: 24px;
    background-color: rgb(236, 255, 193);
    color: #000000;
    border-radius: 55px 55px 55px 55px;
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    -webkit-box-shadow: 4px 11px 45px 0px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 11px 45px 0px rgba(0,0,0,0.63);
box-shadow: 4px 11px 45px 0px rgba(0,0,0,0.63);
    border: 0px solid #000000;
    margin:10px;
    padding: 10px;

  }

  .GigButton:hover {
      cursor: pointer;
      transition: 0.7s;
      -webkit-box-shadow: inset 4px 11px 45px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: inset 4px 11px 45px 0px rgba(0,0,0,0.63);
    box-shadow: inset 4px 11px 45px 0px rgba(0,0,0,0.63);
  }

  .triviaButton {
    font-size: 24px;
    background-color: rgb(236, 255, 193);
    color: #000000;
    border-radius: 55px 55px 55px 55px;
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    -webkit-box-shadow: 4px 11px 45px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 4px 11px 45px 0px rgba(0,0,0,0.63);
    box-shadow: 4px 11px 45px 0px rgba(0,0,0,0.63);
    border: 0px solid #000000;
    margin:10px;
    padding: 10px;
  }

  .triviaButton:hover {
      cursor: pointer;
      transition: 0.7s;
      -webkit-box-shadow: inset 4px 11px 45px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: inset 4px 11px 45px 0px rgba(0,0,0,0.63);
    box-shadow: inset 4px 11px 45px 0px rgba(0,0,0,0.63);
  }

  /* End of Project Button Styles */


  /* Project img link styles to show layered effect */

  .projectIcon {
    margin-top: 70px; 
      position: relative;
      width: 160px;
      height: 140px;
      background: rgba(0,0,0,1);
      border-radius: 68px 68px 68px 68px;
      border: 0px solid #000000;
    box-shadow: -14px 21px 37px 6px rgba(0,0,0,0.61);    
    transform: rotate(-30deg)skew(25deg)scale(.8);
    transition: 0.3s;
  }

  .projectIcon img {
      position: absolute;
      background:cover center;
      width:100%;
      height:100%;
      transition:0.5s;
      border-radius: 68px 68px 68px 68px;
      border: 0px solid #000000;
  }

  .projectIcon:hover img:nth-child(4) {
      transform: translate(120px,-120px);
      opacity: 1;
  }

  .projectIcon:hover img:nth-child(3) {
    transform: translate(80px,-80px);
    opacity: .8;
}

.projectIcon:hover img:nth-child(2) {
    transform: translate(40px,-40px);
    opacity: .6;
}

.projectIcon:hover img:nth-child(1) {
    transform: translate(10px,-10px);
    opacity: .4;
}


/* Styling effects for text links to projects with Snake effect */
/* 
ul {
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    display: flex;
}

ul li {
    list-style: none;
}


ul li a {
    display: block;
    position: relative;
    width:50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    background: #000000;
    margin: 0 10px;
    transition:0.5s;
}

ul li a span {
    position: absolute;
    transition: transform .05s;
}

ul li a span:nth-child(1),
ul li a span:nth-child(3){
    width: 100%;
    height: 1px;
    background: #262626
}

ul li a span:nth-child(1)
{
    top:0;
    left:0;
    transform-origin: right;
}

ul li a:hover span:nth-child(1)
{
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}

ul li a span:nth-child(3)
{
    bottom: 0;
    left:0;
    transform-origin: left;
}

ul li a:hover span:nth-child(3)
{
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.5s;
} */

/* 2 and 4 */
/* 
ul li a span:nth-child(2),
ul li a span:nth-child(4){
    width: 1px;
    height: 100%;
    background: #262626
}

ul li a span:nth-child(2)
{
    top:0;
    left:0;
    transform: scaleY(0);
    transform-origin: bottom;
}

ul li a:hover span:nth-child(2)
{
    transform: scaleY(1);
    transform-origin: top;
    transition: 0.5s;
}

ul li a span:nth-child(4)
{
    top:0;
    right:0;
    transform: scaleY(0);
    transform-origin: top;
}

ul li a:hover span:nth-child(4)
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: 0.5s;
} */


/* This is the nav-bar template for the my portofilio */

nav {
    font-family: 'Righteous', cursive;
    border-radius: 0px 0px 38px 46px;
    -moz-border-radius: 0px 0px 38px 46px;
    -webkit-border-radius: 0px 0px 38px 46px;
    border: 0px solid #000000;
    -webkit-box-shadow: 13px 13px 23px 3px rgba(0,0,0,0.72);
    -moz-box-shadow: 13px 13px 23px 3px rgba(0,0,0,0.72);
    box-shadow: 13px 13px 23px 3px rgba(0,0,0,0.72);
}

.nav-link{
    margin: 5px;
}

.submit {
    -webkit-box-shadow: 2px 6px 22px 3px rgba(0,0,0,0.25);
-moz-box-shadow: 2px 6px 22px 3px rgba(0,0,0,0.25);
box-shadow: 2px 6px 22px 3px rgba(0,0,0,0.25);
}

.submit:hover {
    -webkit-box-shadow: inset 2px 6px 61px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 2px 6px 61px 3px rgba(0,0,0,0.25);
    box-shadow: inset 2px 6px 61px 3px rgba(0,0,0,0.25);
}

.formulagen {
    color:#fff565;
}



.nav-item {
    
    margin: 0px 10px 0px 0px;
    border: solid #039ba3;
    border-width: 0px 2px 0px 0px;

}


.nav-item:hover {
    border-radius: 59px 59px 59px 59px;
    -moz-border-radius: 59px 59px 59px 59px;
    -webkit-border-radius: 59px 59px 59px 59px;
    border: 0px solid #000000;
    -webkit-box-shadow: inset 6px 4px 14px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: inset 6px 4px 14px 0px rgba(0,0,0,0.52);
    box-shadow: inset 6px 4px 14px 0px rgba(0,0,0,0.52);
}

/* Button styles for links */

.resumeButton {
    background-color: #2aba87;
    color: #000000;
    border-radius: 55px 55px 55px 55px;
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    border: 0px solid #000000;
    margin:5px;
}

.resumeButton:hover {
    cursor: pointer;
}

.emailButton {
    background-color: rgb(244, 75, 137);
    color: #000000;
    border-radius: 55px 55px 55px 55px;
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    border: 0px solid #000000;
    margin:5px;
}

.emailButton:hover {
    cursor: pointer;
}

.phoneButton {
    background-color: rgb(40, 224, 120);
    color: #000000;
    border-radius: 55px 55px 55px 55px;
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    border: 0px solid #000000;
    margin:5px;
}

.phoneButton:hover {
    cursor: pointer;
}

.linkedInButton {
    background-color: rgb(47, 137, 216);
    color: #000000;
    border-radius: 55px 55px 55px 55px;
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    border: 0px solid #000000;
    margin:5px;
}

.linkedInButton:hover {
    cursor: pointer;
}

.gitHubButton {
    background-color: rgb(169, 84, 255);
    color: #000000;
    border-radius: 55px 55px 55px 55px;
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    border: 0px solid #000000;
    margin:5px;
}

.gitHubButton:hover {
    cursor: pointer;
}

/* End of button styles */